// Print stylesheet changes

@media print

  *
    background: transparent !important
    color: #000 !important
    box-shadow: none !important
    text-shadow: none !important

  #tagline:after
    content: " — http://www.vlent.nl"

  #content
    a
      text-decoration: underline
    a:after
      content: " (" attr(href) ") "
    header
      a:after
        content: ""

  #disqus_thread
    page-break-before: always

  pre
    white-space: pre-wrap

  header[role="banner"]
    nav
      border-top: 1px solid #000
      a
        display: none
