RewriteEngine on
RewriteBase /

# If a subdomain is missing, redirect to the www subdomain.
RewriteCond %{HTTP_HOST} ^vlent\.nl$
RewriteRule ^(.*) http://www.vlent.nl/$1 [R=301]

# Rewrites for old content Plone -> Django
Redirect permanent /weblog/authors http://www.vlent.nl/about/
Redirect permanent /weblog/authors/markvl http://www.vlent.nl/about/
Redirect permanent /author/markvl http://www.vlent.nl/about/
Redirect permanent /weblog/plone/blog_view http://www.vlent.nl/weblog/categories/plone/
Redirect permanent /front-page http://www.vlent.nl/
Redirect permanent /weblog/setuptools-and-subversion-1.5 http://www.vlent.nl/weblog/2008/09/18/setuptools-and-subversion-1.5/
Redirect permanent /weblog/datetime-2009-06-16-datetime-2009-06-16 http://www.vlent.nl/weblog/2009/06/17/datetime-2009-06-16-datetime-2009-06-16/
Redirect permanent /weblog/using-git-when-developing-plone-applications http://www.vlent.nl/weblog/2009/05/03/using-git-when-developing-plone-applications/
Redirect permanent /weblog/upgrade-ubuntu-8.04-to-8.10 http://www.vlent.nl/weblog/2009/02/19/upgrade-ubuntu-8.04-to-8.10/
Redirect permanent /weblog/taking-version-control-to-the-next-level http://www.vlent.nl/weblog/2009/04/30/taking-version-control-to-the-next-level/

# Rewrites due to corrected URLs
Redirect permanent /weblog/2011/06/20/deployment-knowledge-sharing-session-release-manag/ http://www.vlent.nl/weblog/2011/06/20/deployment-knowledge-sharing-session/
Redirect permanent /weblog/2009/06/16/datetime-2009-06-16-datetime-2009-06-16/ http://www.vlent.nl/weblog/2009/06/17/datetime-2009-06-16-datetime-2009-06-16/

# Rewrite rules for Django -> Acrylamid migration.
Redirect permanent /weblog/2009/05/27/ioerror-errno-28-no-space http://www.vlent.nl/weblog/2009/05/27/ioerror-errno-28-no-space-left-on-device/
Redirect permanent /weblog/2009/05/30/ubuntu http://www.vlent.nl/weblog/2009/05/30/ubuntu-jaunty-jackalope/
Redirect permanent /weblog/2010/09/06/locked-myself-out-root-account-ec2-ubuntu http://www.vlent.nl/weblog/2010/09/06/locked-myself-out-root-account-ec2-ubuntu-instance/
Redirect permanent /weblog/categories/vlentnl http://www.vlent.nl/weblog/tag/blog
Redirect permanent /weblog/categories/ http://www.vlent.nl/weblog/tag/
Redirect permanent /var_images/ http://www.vlent.nl/images/
Redirect permanent /weblog/topics/ http://www.vlent.nl/weblog/tag/
Redirect permanent /static/images/favicon.ico http://www.vlent.nl/favicon.ico

# Set the content type for the atom feeds
RewriteCond %{REQUEST_URI} atom.xml
RewriteRule .* - [T=application/atom+xml]

# Custom 404 page
ErrorDocument 404 /404.html
