# ----------------------------------------------------------------------------
# Rewriting
# ----------------------------------------------------------------------------

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /

  # If a subdomain is missing, redirect to the www subdomain.
  RewriteCond %{HTTP_HOST} ^vlent\.nl$
  RewriteRule ^(.*) http://www.vlent.nl/$1 [R=301]

  # Rewrite old scheme (/weblog/<slug> to /weblog/<year>/<month>/<day>/<slug>/
  Redirect permanent /weblog/2008/10/10/controlling-chaos-mike-robinson http://www.vlent.nl/weblog/2008/10/09/controlling-chaos-mike-robinson/
  Redirect permanent /weblog/a-simple-plone-setup-on-amazon-ec2-and-s3-david-bain http://www.vlent.nl/weblog/2008/10/09/a-simple-plone-setup-on-amazon-ec2-and-s3-david-bain/
  Redirect permanent /weblog/birds-of-a-feather-session-how-to-train-people-to-use-plone/ http://www.vlent.nl/weblog/2008/10/11/birds-of-a-feather-session-how-to-train-people-to-use-plone/
  Redirect permanent /weblog/content-migration-quantum-leap-vitaliy-podoba http://www.vlent.nl/weblog/2008/10/10/content-migration-quantum-leap-vitaliy-podoba/
  Redirect permanent /weblog/datetime-2009-06-16-datetime-2009-06-16 http://www.vlent.nl/weblog/2009/06/17/datetime-2009-06-16-datetime-2009-06-16/
  Redirect permanent /weblog/deliverance-theming-decoupled-ian-bicking http://www.vlent.nl/weblog/2008/10/09/deliverance-theming-decoupled-ian-bicking/
  Redirect permanent /weblog/delivering-egg-based-applications-with-zc.buildout-using-a-distributed-model-tarek-ziade http://www.vlent.nl/weblog/2008/10/10/delivering-egg-based-applications-with-zc.buildout-using-a-distributed-model-tarek-ziade/
  Redirect permanent /weblog/distributed-version-control-systems-presentation http://www.vlent.nl/weblog/2010/02/25/distributed-version-control-systems-presentation/
  Redirect permanent /weblog/getting-dates-with-plone-aaron-vanderlip http://www.vlent.nl/weblog/2008/10/09/getting-dates-with-plone-aaron-vanderlip/
  Redirect permanent /weblog/git-in-action-feature-branch-after-the-fact http://www.vlent.nl/weblog/2009/05/20/git-in-action-feature-branch-after-the-fact/
  Redirect permanent /weblog/integrityerror-duplicate-key-value-violates-unique-constraint/ http://www.vlent.nl/weblog/2011/05/06/integrityerror-duplicate-key-value-violates-unique-constraint/
  Redirect permanent /weblog/introduction-z3c-forms-stephan-richter http://www.vlent.nl/weblog/2008/10/10/introduction-z3c-forms-stephan-richter/
  Redirect permanent /weblog/ioerror-errno-28-no-space-left-on-device http://www.vlent.nl/weblog/2009/05/27/ioerror-errno-28-no-space-left-on-device/
  Redirect permanent /weblog/keynote-when-software-is-a-service-will-only-network-luddites-be-free-bradley-m.-kuhn http://www.vlent.nl/weblog/2008/10/08/keynote-when-software-is-a-service-will-only-network-luddites-be-free-bradley-m.-kuhn/
  Redirect permanent /weblog/minor-upgrade-of-my-site http://www.vlent.nl/weblog/2009/05/16/minor-upgrade-of-my-site/
  Redirect permanent /weblog/new-start.. http://www.vlent.nl/weblog/2008/08/24/new-start../
  Redirect permanent /weblog/no-zest-shirt http://www.vlent.nl/weblog/2008/10/08/no-zest-shirt/
  Redirect permanent /weblog/plone-and-multimedia-publishing-audio-and-video-content-with-plone-nate-aune http://www.vlent.nl/weblog/2008/10/10/plone-and-multimedia-publishing-audio-and-video-content-with-plone-nate-aune/
  Redirect permanent /weblog/ploneformgen-past-present-future-steve-mcmahon http://www.vlent.nl/weblog/2008/10/10/ploneformgen-past-present-future-steve-mcmahon/
  Redirect permanent /weblog/real-world-intranets-joel-burton http://www.vlent.nl/weblog/2008/10/08/real-world-intranets-joel-burton/
  Redirect permanent /weblog/setuptools-and-subversion-1.5 http://www.vlent.nl/weblog/2008/09/18/setuptools-and-subversion-1.5/
  Redirect permanent /weblog/taking-version-control-to-the-next-level http://www.vlent.nl/weblog/2009/04/30/taking-version-control-to-the-next-level/
  Redirect permanent /weblog/test-sending-emails-while-developing http://www.vlent.nl/weblog/2009/10/03/test-sending-emails-while-developing/
  Redirect permanent /weblog/ubuntu-jaunty-jackalope http://www.vlent.nl/weblog/2009/05/30/ubuntu-jaunty-jackalope/
  Redirect permanent /weblog/unit-testing-useful http://www.vlent.nl/weblog/2009/11/05/unit-testing-useful/
  Redirect permanent /weblog/upgrade-ubuntu-8.04-to-8.10 http://www.vlent.nl/weblog/2009/02/19/upgrade-ubuntu-8.04-to-8.10/
  Redirect permanent /weblog/upgrade-ubuntu-8.04-to-8.10-part-three-ubuntu-firefox-modifications http://www.vlent.nl/weblog/2009/02/24/upgrade-ubuntu-8.04-to-8.10-part-three-ubuntu-firefox-modifications/
  Redirect permanent /weblog/upgrade-ubuntu-8.04-to-8.10-part-two-firewall-fun/ http://www.vlent.nl/weblog/2009/02/21/upgrade-ubuntu-8.04-to-8.10-part-two-firewall-fun/
  Redirect permanent /weblog/using-git-when-developing-plone-applications http://www.vlent.nl/weblog/2009/05/03/using-git-when-developing-plone-applications/
  Redirect permanent /weblog/using-grok-to-walk-like-a-duck-brandon-craig-rhodes http://www.vlent.nl/weblog/2008/10/09/using-grok-to-walk-like-a-duck-brandon-craig-rhodes/
  Redirect permanent /weblog/why-plone-works-well-for-large-government-agencies-ken-wasetis http://www.vlent.nl/weblog/2008/10/08/why-plone-works-well-for-large-government-agencies-ken-wasetis/

  # Rewrites for old content Plone -> Django
  Redirect permanent /weblog/authors/markvl http://www.vlent.nl/about/
  Redirect permanent /author/markvl http://www.vlent.nl/about/
  Redirect permanent /weblog/plone/blog_view http://www.vlent.nl/weblog/categories/plone/
  Redirect permanent /front-page http://www.vlent.nl/
  Redirect permanent /content/weblog http://www.vlent.nl/weblog

  # Rewrites due to corrected URLs
  Redirect permanent /weblog/2011/06/20/deployment-knowledge-sharing-session-release-manag/ http://www.vlent.nl/weblog/2011/06/20/deployment-knowledge-sharing-session/
  Redirect permanent /weblog/2009/06/16/datetime-2009-06-16-datetime-2009-06-16/ http://www.vlent.nl/weblog/2009/06/17/datetime-2009-06-16-datetime-2009-06-16/

  # Rewrite rules for Django -> Acrylamid migration.
  Redirect permanent /weblog/2009/05/27/ioerror-errno-28-no-space http://www.vlent.nl/weblog/2009/05/27/ioerror-errno-28-no-space-left-on-device/
  Redirect permanent /weblog/2009/05/30/ubuntu http://www.vlent.nl/weblog/2009/05/30/ubuntu-jaunty-jackalope/
  Redirect permanent /weblog/2010/09/06/locked-myself-out-root-account-ec2-ubuntu http://www.vlent.nl/weblog/2010/09/06/locked-myself-out-root-account-ec2-ubuntu-instance/
  Redirect permanent /weblog/topics/zest%20software http:/www.vlent.nl/weblog/tag/zest-software
  Redirect permanent /weblog/categories/vlentnl http://www.vlent.nl/weblog/tag/blog
  Redirect permanent /weblog/categories/ http://www.vlent.nl/weblog/tag/
  Redirect permanent /var_images/ http://www.vlent.nl/images/
  Redirect permanent /weblog/topics/ http://www.vlent.nl/weblog/tag/
  Redirect permanent /static/images/favicon.ico http://www.vlent.nl/favicon.ico

  # Stubborn feeds. Although rerouting them to an atom feed isn't really playing nice,
  # these feeds have been defunct for a number of years now yet are still accessed.
  Redirect permanent /weblog/weblog/RSS/ http://www.vlent.nl/weblog/atom.xml
  Redirect permanent /weblog/weblog/RSS http://www.vlent.nl/weblog/atom.xml
  Redirect permanent /weblog/plone/RSS/ http://www.vlent.nl/weblog/tag/plone/atom.xml
  Redirect permanent /weblog/plone/RSS http://www.vlent.nl/weblog/tag/plone/atom.xml

  # Set the content type for the atom feeds
  RewriteCond %{REQUEST_URI} atom.xml
  RewriteRule .* - [T=application/atom+xml]
</IfModule>

# ----------------------------------------------------------------------------
# Custom 404 page
# ----------------------------------------------------------------------------

ErrorDocument 404 /404.html

# ----------------------------------------------------------------------
# Gzip compression
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>
  # Force deflate for mangled headers developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>

  # Compress all output labeled with one of the following MIME-types
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE application/atom+xml \
                                  application/javascript \
                                  application/x-javascript \
                                  application/json \
                                  application/rss+xml \
                                  application/vnd.ms-fontobject \
                                  application/x-font-ttf \
                                  application/xhtml+xml \
                                  application/xml \
                                  font/opentype \
                                  image/svg+xml \
                                  image/x-icon \
                                  text/css \
                                  text/html \
                                  text/plain \
                                  text/x-component \
                                  text/xml
  </IfModule>
</IfModule>

<IfModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
  mod_gzip_item_include handler ^cgi-script$
  mod_gzip_item_include mime ^application/atom+xml
  mod_gzip_item_include mime ^application/javascript
  mod_gzip_item_include mime ^application/x-javascript
  mod_gzip_item_include mime ^application/json
  mod_gzip_item_include mime ^application/rss+xml
  mod_gzip_item_include mime ^application/vnd.ms-fontobject
  mod_gzip_item_include mime ^application/x-font-ttf
  mod_gzip_item_include mime ^application/xhtml+xml
  mod_gzip_item_include mime ^application/xml
  mod_gzip_item_include mime ^font/opentype
  mod_gzip_item_include mime ^image/svg+xml
  mod_gzip_item_include mime ^image/x-icon
  mod_gzip_item_include mime ^text/css
  mod_gzip_item_include mime ^text/html
  mod_gzip_item_include mime ^text/plain
  mod_gzip_item_include mime ^text/x-component
  mod_gzip_item_include mime ^text/xml
  mod_gzip_item_exclude mime ^image/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>

# ----------------------------------------------------------------------
# UTF-8 encoding
# ----------------------------------------------------------------------

# Use UTF-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# Force UTF-8 for a number of file formats
AddCharset utf-8 .atom .css .js .json .rss .vtt .xml
