{%- macro taglist() -%}
  {% if env.type != 'page' %}
    {% if 'tag' in env.views and entry.tags %}
      Tagged as
      {% for link in entry.tags | tagify -%}
        <a href="{{ env.path + link.href }}">{{ link.title }}</a>
        {%- if loop.revindex > 2 -%}
          ,
        {%- elif loop.revindex == 2 %}
          and
        {% endif %}
      {% endfor %}
    {% elif not entry.draft %}
      Untagged
    {% endif %}
  {% endif %}
{%- endmacro -%}
<article>
  <header>
    {% if env.type in ['index', 'tag'] %}
      <h2><a href="{{ env.path + entry.permalink }}">{{ entry.title | trim }}</a></h2>
    {% else %}
      <h1>{{ entry.title | trim }}</h1>
    {% endif %}
    <div class="metadata">
      {% if entry.type != 'page' %}
        <span class="publication-date">
          Published on <time datetime="{{ entry.date.strftime("%Y-%m-%d") }}">{{ entry.date.day }}&nbsp;{{ entry.date.strftime("%B")}},&nbsp;{{entry.date.year}}</time>
        </span>
        <span class="metadata-separator">|</span>
        <span class="taglist">
          {{ taglist() }}
        </span>
      {% endif %}
    </div>
  </header>
  {{ entry.content }}
  {%- if env.type == 'entry' %}
    {% if conf.disqus_shortname and not entry.draft %}
      <div class="comments">
         <button class="show-comments">Show comments</button>
        <div id="disqus_thread" data-pub-key="{{ conf.disqus_key }}" data-shortname="{{ conf.disqus_shortname }}"></div>
        <script src="/js/jquery-1.11.1.min.js"></script>
        <script src="/js/comments.js"></script>
        <noscript>
          <p>Please enable JavaScript to view the <a href="{{ env.protocol }}://disqus.com/?ref_noscript">comments powered by Disqus.</a></p>
        </noscript>
      </div>
    {% endif -%} {# show comments? #}

    <aside role="complementary">
      <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
        <symbol id="feed" viewBox="0 0 32 32">
          <path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM10 24c-1.105 0-2-0.895-2-2s0.895-2 2-2 2 0.895 2 2-0.895 2-2 2zM15.5 24c0-4.136-3.364-7.5-7.5-7.5v-3c5.79 0 10.5 4.71 10.5 10.5h-3zM21.5 24c0-3.606-1.404-6.996-3.954-9.546s-5.94-3.954-9.546-3.954v-3c4.407 0 8.551 1.716 11.667 4.833s4.833 7.26 4.833 11.667h-3z"></path>
        </symbol>
      </svg>
      <p>
        If you find this blog interesting, you can subscribe to its
        <svg class="icon"><use xlink:href="#feed" /></svg>
        <a href="/weblog/feed.atom">Atom feed</a>.
      </p>
    </aside>
  {% endif %} {# env.type == 'entry' ? #}
</article>
