{% extends "main.html" %}

{% macro nicetitle(env) -%}
  {% for year in env.entrylist | archivesfor %}
    {% if env.archive.month %}
      {% for month in year %}
        Articles published {{ ('on ' ~ env.archive.day) if env.archive.day else 'in' }} {{ month.full ~ ' ' ~ year}}
      {% endfor %}
    {% else %}
      Articles published in {{ env.archive.year }}
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% block title %}
  {{ nicetitle(env) }}
{% endblock title %}

{% block content %}
  <h1>{{ nicetitle(env) }}</h1>

  {% for year in env.entrylist | archivesfor %}
    {% for month in year %}

      {% if not env.archive.month %}
        <h2 class="archive-year">{{ month.full ~ ' ' ~ year }}</h2>
      {% endif %}

      {% for entry in month.items %}
          <div class="archive-article">
            <a href="{{ entry.permalink }}">
              <h3>{{ entry.title | e }}</h3>
            </a>
            <time class="metadata" datetime="{{ entry.date.strftime("%Y-%m-%d") }}">
              {{ entry.date.day }}&nbsp;{{ entry.date.strftime("%B")}}, {{entry.date.year}}
            </time>
          </div>
      {% endfor %}

    {% endfor %}
  {% endfor %}
{% endblock %}
