{% extends "base.html" %}

{% block title %}
  {%- if env.type == 'entry' -%}
    {{ entry.title | trim }} | {{ conf.sitename }}
  {%- elif env.type == 'tag' -%}
    {{ env.tag }} | {{conf.sitename}}
  {%- elif env.type == 'page' -%}
    {{ entry.title | trim }} | {{ conf.sitename }}
  {%- else -%}
    {{ conf.sitename }}
  {%- endif -%}
{% endblock %}

{% block head %}
  {{- super() }}
  {%- if env.type == 'entry' %}
    <meta name="description" content="{{ entry.description | e }}" />
    <meta name="keywords" content="{{ entry.tags | join(', ') }}" />
  {%- endif -%}
  {%- if env.type == 'tag' -%}
    <link href="{{ env.route + '/atom.xml' }}" type="application/atom+xml" rel="alternate" title="{{ conf.sitename }} {{ env.tag}} Atom Feed" />
  {%- endif %}
  {% if env.type in ['tag', 'index'] %}
    <meta name="robots" content="noindex" />
  {%- endif -%}
{% endblock %}

{% block content %}
  {% if env.type == 'index' %}
    <h1>Articles</h1>
  {% elif env.type == 'tag' %}
    <h1>Articles for “{{ env.tag }}”</h1>
  {% endif %}
  {% for entry in env.entrylist %}
    {% include 'entry.html' %}
  {% endfor %}
  {% if env.type in ['tag', 'index'] %}
    {% if env.next or env.prev %}
      <div class="pagination">
        {% if env.next is not none %}
          <a href="{{ env.path ~ env.next ~ '/' }}" class="pagination-newer">
            « Newer
          </a>
        {% endif %}
        {% if env.prev %}
          <a href="{{ env.path ~ env.prev ~ '/' }}" class="pagination-older">
            Older »
          </a>
        {% endif %}
      </div>
      <div class="clearfix"></div>
    {% endif %}
  {%- endif  %}
  {% if env.type == 'tag' %}
    <aside>
      <p>If you are interested in this topic, you can also subscribe to the {{ env.tag }}
        <a href="{{ env.route + '/atom.xml' }}">Atom feed</a>.
      </p>
    </aside>
  {% endif %}
{% endblock %}
