<!DOCTYPE html>
<html lang="{{ conf.lang }}">
  <head>
    {% block head -%}
      <meta charset="utf-8" />
      <title>{% block title %}{% endblock %}</title>
      <script type="text/javascript" src="//use.typekit.net/mkb0dbh.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <link media="all" href="{{ env.path + '/css/screen.css' }}" rel="stylesheet" />
      <link media="print" href="{{ env.path + '/css/print.css' }}" rel="stylesheet" />
      <!--[if IE]>
      <link media="all" href="{{ env.path + '/css/ie.css' }}" rel="stylesheet" />
      <![endif]-->

      <link href="/favicon.ico" rel="shortcut icon" />
      {% if 'sitemap' in env.views -%}
        <link href="{{ env.views.sitemap.path }}" type="application/xml" rel="sitemap" title="Sitemap">
      {%- endif%}
      <link href="{{ env.path + '/' }}" rel="home" />
      <link href="{{ env.path + '/atom/' }}" type="application/atom+xml" rel="alternate" title="Atom Feed" />
      <link href="{{ env.path + '/rss/' }}" type="application/rss+xml" rel="alternate" title="RSS Feed" />
      <!--[if lt IE 9]>
      <script src="{{ env.path + '/js/html5.js' }}"></script>
      <![endif]-->
    {%- endblock %}
  </head>
  <body>
    <header>
      <h1><a href="{{ env.path + '/' }}" class="blogtitle">{{ conf.sitename }}</a></h1>
      <nav>
        <ul>
          <li><a href="{{ env.path + '/' }}">blog</a></li>
          <li><a href="{{ env.path + '/atom/' }}">atom</a></li>
          <li><a href="{{ env.path + '/rss/' }}">rss</a></li>
          <li><a href="{{ env.path + '/articles/' }}">articles</a></li>
        </ul>
      </nav>
    </header>
    {%- block content -%}
    {%- endblock -%}
    <footer>
      {% block footer %}
        <p>written by <a href="mailto:{{ conf.email }}">{{ conf.author }}</a></p>
        <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/de/" rel="copyright">
          <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" alt="by-nc-sa" />
        </a>
      {% endblock %}
    </footer>
    <script src="/js/ios-orientationchange-fix.js"></script>
  </body>
</html>
