{%- macro taglist() -%}
  {% if env.type != 'page' %}
    {% if 'tag' in env.views and entry.tags %}
      Tagged as
      {% for link in entry.tags | tagify -%}
        <a href="{{ env.path + link.href }}">{{ link.title }}</a>
        {%- if loop.revindex > 2 -%}
          ,
        {%- elif loop.revindex == 2 %}
          and
        {% endif %}
      {% endfor %}
    {% elif not entry.draft %}
      Untagged
    {% endif %}
  {% endif %}
{%- endmacro -%}
<article>
  <header>
    {% if env.type in ['index', 'tag'] %}
      <h2><a href="{{ env.path + entry.permalink }}">{{ entry.title | trim }}</a></h2>
    {% else %}
      <h1>{{ entry.title | trim }}</h1>
    {% endif %}
    <div class="metadata">
      {% if entry.type != 'page' %}
        <span class="publication-date">
          Published on <time datetime="{{ entry.date.strftime("%Y-%m-%d") }}">{{ entry.date.day }}&nbsp;{{ entry.date.strftime("%B")}}, {{entry.date.year}}</time>
        </span>
        <span class="metadata-separator">|</span>
        <span class="taglist">
          {{ taglist() }}
        </span>
      {% endif %}
    </div>
  </header>
  {{ entry.content }}
  {% if env.type == 'entry' %}
    <aside class="about-info">
      <h2>About me</h2>
      <p>
        I am a technical consultant and Python developer. My day
        job mainly involves Plone and Django websites or web
        applications. On this website I like to share my thoughts
        and findings for others to learn from and/or enjoy. You can find out more
        <a rel="author" class="read-more" href="/about/">about me</a> on this website.
        You can also find me on
        <a rel="me" href="http://twitter.com/mvlent">Twitter</a>,
        <a rel="me" href="https://plus.google.com/110070627222617391002">Google+</a>
        and
        <a rel="me" href="http://nl.linkedin.com/in/markvanlent">LinkedIn</a>.
      </p>
      <p>If you find this blog interesting, you can subscribe to my <a href="/weblog/atom.xml">Atom feed</a>.</p>
    </aside>
  {% endif %}
  <div class="comments">
    {%- if conf.disqus_shortname and env.type == 'entry' and not entry.draft %}
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = "{{ conf.disqus_shortname }}";
        var disqus_identifier = "{{ conf.www_root + entry.permalink }}";
        var disqus_url = "{{ conf.www_root + entry.permalink }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '{{ env.protocol }}://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>
        <p>Please enable JavaScript to view the <a href="{{ env.protocol }}://disqus.com/?ref_noscript">comments powered by Disqus.</a></p>
      </noscript>
      <a href="{{ env.protocol }}://disqus.com" class="dsq-brlink">
        blog comments powered by <span class="logo-disqus">Disqus</span>
      </a>
    {% endif -%}
  </div>
</article>
